<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mardonaquiz.mardona" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupListActivity"
            android:label="@string/title_activity_group_list" >
        </activity>
        <activity
            android:name=".QuizListActivity"
            android:label="@string/title_activity_quiz_list" >
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".CreateQuizActivity"
            android:label="@string/title_activity_create_quiz" >
        </activity>
        <activity
            android:name=".AnswerQuiz"
            android:label="@string/title_activity_answer_quiz" >
        </activity>
        <activity
            android:name=".ViewGroup"
            android:label="@string/title_activity_view_group"
            android:parentActivityName=".GroupListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mardonaquiz.mardona.GroupListActivity" />
        </activity>
        <activity
            android:name=".publishedQuizListActivity"
            android:label="@string/title_activity_published_quizzes" >
        </activity>
    </application>

</manifest>
